.container {
    width: 100%;
    align-items: center;
    padding: 20px 30px 0;
    background-color: white;
    box-shadow: 0px 4px 12px 0px rgba(34, 60, 80, 0.2);
}

.content {
    justify-content: space-between;
    margin: 0 0 20px;
    flex: 1;
}

.logo {
    height: 100px;
    object-fit: cover;
}

.title {
    box-shadow: 0px 4px 12px 0px rgba(34, 60, 80, 0.2) inset;
    padding: 0 10px;
    border: 1px solid gray;
    background-color: #F0F0F0;
}

.navbar {
    padding-left: 30px;
    margin: 30px 0;
}

.button {
    padding-right: 30px;
    padding-left: 30px;
    border-right: 1px solid #e0e0e0;
    align-items: center;
}

.button:first-child {
    border-left: 1px solid #e0e0e0;
}
